---
layout: default
---

<div class="container-fluid">
<div class="row" style="margin-top:20px;background-color:#7c66ac;border-radius: 10px;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:15px;box-shadow: 0px 5px 5px #5b4785;" >
  	<div id="homeid" class="col-sm-12" style="background-color:#ffffff;border-radius:12px;padding-left:20px;padding-right:20px;box-shadow: 0px 5px 5px #5b4785;"  >
<div class="row" style="background-color:#ffff;padding-top:30px;border-radius:10px;padding-bottom:20px;padding-left:20px;padding-right:20px;" >
		<h4 style="margin-top:-10px;margin-bottom:10px;background-color:#ffffff;color:#5b4785;font-family:Calibri;"><b>Welcome to the KRaCR Lab</b></h4>
	
	{{ content }}
</div> 		
</div>       
   
	</div>	
</div>	
<p></p>
<div class="row" style="border-radius: 10px;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:15px;" >	

<div id="newsid" class="col-sm-4"  style="border: 2px solid white; border-radius: 10px;background-color:#e3deed;padding:0px 20px 0px 30px;box-shadow: 0px 5px 5px #e3deed;overflow: auto;height:600px"">
	{% include news.html %}
  </div>
 <div id="publications" class="col-sm-4" style="border: 2px solid white;border-radius: 10px;background-color:#e3deed;padding:0px 30px 0px 20px;box-shadow: 0px 5px 5px #e3deed;overflow: auto;height:600px"">
	{% include publications.html %}
  	
	</div>
<div id="tweets" class="col-sm-4"  style="border: 2px solid white; border-radius: 10px;padding:30px 20px 0px 30px;box-shadow: 0px 5px 5px #e3deed;overflow: scroll;height:600px">
<a class="twitter-timeline"   data-tweet-limit="5" href="https://twitter.com/GunjanS12" data-chrome="nofooter noborders" style="border: 2px solid white; border-radius: 10px;background-color:#e3deed;padding:30px 40px 0px 40px;box-shadow: 0px 5px 5px #e3deed;"></a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

  </div>  
</div>  	 
</div>  